<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 mx-4">
  <div>
    <label for="username" class="block text-sm font-medium text-gray-700 mb-2">
      Child Id
    </label>
    <input
      id="username"
      type="text"
      placeholder="child id"
      class="input input-bordered input-md w-full border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500"
    />
  </div>

  <div>
    <label for="field2" class="block text-sm font-medium text-gray-700 mb-2">
      Child Name
    </label>
    <input
      id="field2"
      type="text"
      placeholder="child name"
      class="input input-bordered input-md w-full border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500"
    />
  </div>

  <div>
    <label for="field3" class="block text-sm font-medium text-gray-700 mb-2">
      Father Name
    </label>
    <input
      id="field3"
      type="text"
      placeholder="Father name"
      class="input input-bordered input-md w-full border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500"
    />
  </div>

  <div>
    <label for="field4" class="block text-sm font-medium text-gray-700 mb-2">
      CNIC Number
    </label>
    <input
      id="field4"
      type="text"
      placeholder="cnic number"
      class="input input-bordered input-md w-full border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500"
    />
  </div>

  <div>
    <label for="field5" class="block text-sm font-medium text-gray-700 mb-2">
      Gender
    </label>
    <input
      id="field5"
      type="text"
      placeholder="gender"
      class="input input-bordered input-md w-full border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500"
    />
  </div>

  <div>
    <label for="field6" class="block text-sm font-medium text-gray-700 mb-2">
      Date of Birth
    </label>
    <input
      id="field6"
      type="text"
      placeholder="date of birth"
      class="input input-bordered input-md w-full border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500"
    />
  </div>

  <div>
    <label for="field7" class="block text-sm font-medium text-gray-700 mb-2">
      Mother Tongue
    </label>
    <input
      id="field7"
      type="text"
      placeholder="mother tongue"
      class="input input-bordered input-md w-full border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500"
    />
  </div>

  <div>
    <label for="field8" class="block text-sm font-medium text-gray-700 mb-2">
      Province
    </label>
    <input
      id="field8"
      type="text"
      placeholder="province"
      class="input input-bordered input-md w-full border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500"
    />
  </div>

  <div>
    <label for="field9" class="block text-sm font-medium text-gray-700 mb-2">
      District
    </label>
    <input
      id="field9"
      type="text"
      placeholder="district"
      class="input input-bordered input-md w-full border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500"
    />
  </div>
  <div>
    <label for="field3" class="block text-sm font-medium text-gray-700 mb-2">
      Tehsil
    </label>
    <input
      id="field3"
      type="text"
      placeholder="tehsil"
      class="input input-bordered input-md w-full border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500"
    />
  </div>

  <div>
    <label for="field4" class="block text-sm font-medium text-gray-700 mb-2">
      UC
    </label>
    <input
      id="field4"
      type="text"
      placeholder="Uc"
      class="input input-bordered input-md w-full border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500"
    />
  </div>

  <div>
    <label for="field5" class="block text-sm font-medium text-gray-700 mb-2">
      Facility
    </label>
    <input
      id="field5"
      type="text"
      placeholder="facility"
      class="input input-bordered input-md w-full border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500"
    />
  </div>
  <div>
    <label for="field3" class="block text-sm font-medium text-gray-700 mb-2">
      Village
    </label>
    <input
      id="field3"
      type="text"
      placeholder="village"
      class="input input-bordered input-md w-full border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500"
    />
  </div>

  <div>
    <label for="field4" class="block text-sm font-medium text-gray-700 mb-2">
      Address
    </label>
    <input
      id="field4"
      type="text"
      placeholder="Type address"
      class="input input-bordered input-md w-full border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500"
    />
  </div>

  <div>
    <label for="field5" class="block text-sm font-medium text-gray-700 mb-2">
      Nearest Landmark
    </label>
    <input
      id="field5"
      type="text"
      placeholder="Type nearest landmark"
      class="input input-bordered input-md w-full border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500"
    />
  </div>
  <div>
    <label for="field3" class="block text-sm font-medium text-gray-700 mb-2">
      Epi Number
    </label>
    <input
      id="field3"
      type="text"
      placeholder="epi number"
      class="input input-bordered input-md w-full border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500"
    />
  </div>

  <div>
    <label for="field4" class="block text-sm font-medium text-gray-700 mb-2">
      Phone Number
    </label>
    <input
      id="field4"
      type="text"
      placeholder="phone number"
      class="input input-bordered input-md w-full border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500"
    />
  </div>

  <div>
    <label for="field5" class="block text-sm font-medium text-gray-700 mb-2">
      Secondary Phone Number
    </label>
    <input
      id="field5"
      type="text"
      placeholder="secondary phone number"
      class="input input-bordered input-md w-full border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500"
    />
  </div>

  <div>
    <label for="field10" class="block text-sm font-medium text-gray-700 mb-2">
      Birth Place
    </label>
    <input
      id="field10"
      type="text"
      placeholder="Type birth place"
      class="input input-bordered mb-4 input-md w-full border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500"
    />
  </div>
  <div>
    <label for="field10" class="block text-sm font-medium text-gray-700 mb-2">
      Birth Place
    </label>
    <input
      id="field10"
      type="text"
      placeholder="Type birth place"
      class="input input-bordered mb-4 input-md w-full border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500"
    />
  </div>
  <div class="mt-7">
    <button
      type="submit"
      class="px-40 py-[12px] bg-[#3C0753] text-white font-medium rounded-md shadow-md hover:bg-[#3C0753] focus:outline-none"
    >
      Submit
    </button>
  </div>
</div>
