<aside
  class="bg-gradient-to-br from-[#F1F5F9] to-[#F1F5F9] -translate-x-80 fixed inset-0 z-50 w-72 rounded-xl transition-transform duration-300 xl:translate-x-0"
>
  <div class="relative border-b border-white/20">
    <a class="flex items-center gap-4 py-6 px-8" href="#/">
      <h6
        class="block antialiased tracking-normal font-sans text-base font-bold leading-relaxed text-[#3C0753]"
      >
        Facility Application
      </h6>
    </a>
    <button
      class="middle none font-sans font-medium text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none w-8 max-w-[32px] h-8 max-h-[32px] rounded-lg text-xs text-white hover:bg-white/10 active:bg-white/30 absolute right-0 top-0 grid rounded-br-none rounded-tl-none xl:hidden"
      type="button"
    >
      <span
        class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="2.5"
          stroke="currentColor"
          aria-hidden="true"
          class="h-5 w-5 text-black"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 18L18 6M6 6l12 12"
          ></path>
        </svg>
      </span>
    </button>
  </div>
  <div class="m-4">
    <ul class="mb-4 flex flex-col gap-1">
      <li>
        <a routerLink="/admin/dashboard">
          <button
            (click)="toggleDropdown()"
            class="middle none font-sans font-bold center transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-2 rounded-lg text-[#3C0753] hover:[#3C0753] active:bg-white/30 flex w-full items-center gap-4 px-4 capitalize"
            type="button"
          >
            <ng-icon
              name="heroUsers"
              style="width: 20px; height: 20px; color: #3c0753"
            ></ng-icon>
            <p
              class="block antialiased font-sans text-base leading-relaxed text-inherit font-medium text-[#3C0753] capitalize"
            >
              Neir management
            </p>
            <ng-icon
              name="heroChevronDown"
              style="width: 20px; height: 20px; color: #3c0753"
            ></ng-icon>
          </button>
        </a>
        <div
          [ngClass]="{
            'dropdown-closed': !isDropdownOpen,
            'dropdown-open': isDropdownOpen
          }"
          class="overflow-hidden transition-all duration-1000 ease-in-out bg-[#F1F5F9] shadow-lg rounded-md"
        >
          <a
            routerLink="/admin/adduser"
            class="block px-4 py-2 text-[12px] font-medium text-[#3C0753] hover:bg-[#86469C] hover:text-white"
          >
            Add User
          </a>
          <a
            routerLink="/admin/usermapping"
            class="block px-4 py-2 text-[12px] font-medium text-[#3C0753] hover:bg-[#86469C] hover:text-white"
          >
            User Mapping
          </a>
          <a
            routerLink="/admin/userlist"
            class="block px-4 py-2 text-[12px] font-medium text-[#3C0753] hover:bg-[#86469C] hover:text-white"
          >
            User List
          </a>
          <a
            routerLink="/admin/changepassword"
            class="block px-4 py-2 text-[12px] font-medium text-[#3C0753] hover:bg-[#86469C] hover:text-white"
          >
            Change Password
          </a>
        </div>
      </li>

      <!-- <li>    
        <a routerLink="/admin/dashboard">
        <button
          (click)="toggleDropdown()"
          routerLinkActive="bg-gradient-to-tr from-[#86469C] to-[#86469C] shadow-md shadow-blue-500/20 hover:shadow-lg hover:shadow-blue-500/40 active:opacity-[0.85]"
          class="middle none font-sans font-bold center transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-2 rounded-lg text-[#3C0753] hover:[#3C0753] active:bg-white/30 flex w-full items-center gap-4 px-4 capitalize"
          type="button"
        >
          <ng-icon
            name="heroUsers"
            style="width: 20px; height: 20px; color: #3c0753"
          ></ng-icon>
          <p
            class="block antialiased font-sans text-base leading-relaxed text-inherit font-medium text-[#3C0753] capitalize"
          >
            Neir management
          </p>
          <ng-icon
            name="heroChevronDown"
            style="width: 20px; height: 20px; color: #3c0753"
          ></ng-icon>
        </button>
        <div
          [ngClass]="{
            'dropdown-closed': !isDropdownOpen,
            'dropdown-open': isDropdownOpen
          }"
          class="overflow-hidden transition-all duration-1000 ease-in-out bg-[#F1F5F9] shadow-lg rounded-md"
        >
          <a
            routerLink="/admin/adduser"
            class="block px-4 py-2 text-[12px] font-medium text-[#3C0753] hover:bg-[#86469C] hover:text-white"
          >
            Add User
          </a>
          <a
            routerLink="/admin/adduser"
            class="block px-4 py-2 text-[12px] font-medium text-[#3C0753] hover:bg-[#86469C] hover:text-white"
          >
            User Mapping
          </a>
          <a
            routerLink="/admin/adduser"
            class="block px-4 py-2 text-[12px] font-medium text-[#3C0753] hover:bg-[#86469C] hover:text-white"
          >
            User List
          </a>
          <a
            routerLink="/admin/adduser"
            class="block px-4 py-2 text-[12px] font-medium text-[#3C0753] hover:bg-[#86469C] hover:text-white"
          >
            Change Password
          </a>
        </div>
        </a>
      </li> -->
      <!-- <li>
        <a routerLink="/admin/users">
          <button
            routerLinkActive="bg-gradient-to-tr from-[#86469C] to-[#86469C] shadow-md shadow-blue-500/20 hover:shadow-lg hover:shadow-blue-500/40 active:opacity-[0.85]"
            class="middle none font-sans font-bold center transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-2 rounded-lg text-[#3C0753] hover:[#3C0753] hover:bg-white/10 active:bg-white/30 flex w-full items-center gap-4 px-4 capitalize"
            type="button"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              aria-hidden="true"
              class="w-5 h-5 text-inherit"
            >
              <path
                fill-rule="evenodd"
                d="M18.685 19.097A9.723 9.723 0 0021.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 003.065 7.097A9.716 9.716 0 0012 21.75a9.716 9.716 0 006.685-2.653zm-12.54-1.285A7.486 7.486 0 0112 15a7.486 7.486 0 015.855 2.812A8.224 8.224 0 0112 20.25a8.224 8.224 0 01-5.855-2.438zM15.75 9a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z"
                clip-rule="evenodd"
              ></path>
            </svg>
            <p
              class="block antialiased font-sans text-base leading-relaxed text-inherit font-medium text-[#3C0753] capitalize"
            >
              Profile
            </p>
          </button>
        </a>
      </li> -->
    </ul>

    <!-- <ul class="mb-4 flex flex-col gap-1">
      <li>
        <a routerLink="/admin/dashboard">
          <button
            (click)="toggleDropdown()"
            routerLinkActive="bg-gradient-to-tr from-[#86469C] to-[#86469C] shadow-md shadow-blue-500/20 hover:shadow-lg hover:shadow-blue-500/40 active:opacity-[0.85]"
            class="middle none font-sans font-bold center transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-2 rounded-lg text-[#3C0753] hover:[#3C0753] active:bg-white/30 flex w-full items-center gap-4 px-4 capitalize"
            type="button"
          >
            <ng-icon
              name="heroUsers"
              style="width: 20px; height: 20px; color: #3c0753"
            ></ng-icon>
            <p
              class="block antialiased font-sans text-base leading-relaxed text-inherit font-medium text-[#3C0753] capitalize"
            >
              Neir management
            </p>
            <ng-icon
              name="heroChevronDown"
              style="width: 20px; height: 20px; color: #3c0753"
            ></ng-icon>
          </button>
          <div
            *ngIf="isDropdownOpen"
            class="mt-2 w-full bg-white shadow-lg rounded-md"
          >
            <a
              routerLink="/admin/dashboard/link1"
              class="block px-4 py-2 text-sm text-[#3C0753] hover:bg-[#86469C] hover:text-white"
            >
              Link 1
            </a>
            <a
              routerLink="/admin/dashboard/link2"
              class="block px-4 py-2 text-sm text-[#3C0753] hover:bg-[#86469C] hover:text-white"
            >
              Link 2
            </a>
            <a
              routerLink="/admin/dashboard/link3"
              class="block px-4 py-2 text-sm text-[#3C0753] hover:bg-[#86469C] hover:text-white"
            >
              Link 3
            </a>
          </div>
        </a>
      </li>
      <li>
        <a routerLink="/admin/users">
          <button
            routerLinkActive="bg-gradient-to-tr from-[#86469C] to-[#86469C] shadow-md shadow-blue-500/20 hover:shadow-lg hover:shadow-blue-500/40 active:opacity-[0.85]"
            class="middle none font-sans font-bold center transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-2 rounded-lg text-[#3C0753] hover:[#3C0753] hover:bg-white/10 active:bg-white/30 flex w-full items-center gap-4 px-4 capitalize"
            type="button"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              aria-hidden="true"
              class="w-5 h-5 text-inherit"
            >
              <path
                fill-rule="evenodd"
                d="M18.685 19.097A9.723 9.723 0 0021.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 003.065 7.097A9.716 9.716 0 0012 21.75a9.716 9.716 0 006.685-2.653zm-12.54-1.285A7.486 7.486 0 0112 15a7.486 7.486 0 015.855 2.812A8.224 8.224 0 0112 20.25a8.224 8.224 0 01-5.855-2.438zM15.75 9a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z"
                clip-rule="evenodd"
              ></path>
            </svg>
            <p
              class="block antialiased font-sans text-base leading-relaxed text-inherit font-medium text-[#3C0753] capitalize"
            >
              Profile
            </p>
          </button>
        </a>
      </li>
    </ul> -->
  </div>
</aside>
