<aside
  class="bg-gradient-to-br from-[#F1F5F9] to-[#F1F5F9] -translate-x-80 fixed inset-0 z-50 w-72 rounded-xl transition-transform duration-300 xl:translate-x-0"
>
  <div class="relative border-b border-white/20">
    <a class="flex items-center gap-4 py-6 px-8" href="#/">
      <h6
        class="block antialiased tracking-normal font-sans text-base font-bold leading-relaxed text-[#3C0753]"
      >
        Facility Application
      </h6>
    </a>
    <button
      class="middle none font-sans font-medium text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none w-8 max-w-[32px] h-8 max-h-[32px] rounded-lg text-xs text-white hover:bg-white/10 active:bg-white/30 absolute right-0 top-0 grid rounded-br-none rounded-tl-none xl:hidden"
      type="button"
    >
      <span
        class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="2.5"
          stroke="currentColor"
          aria-hidden="true"
          class="h-5 w-5 text-black"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 18L18 6M6 6l12 12"
          ></path>
        </svg>
      </span>
    </button>
  </div>

  <div class="m-4">
    <ul class="mb-4 flex flex-col gap-1">
      <div *ngIf="isLoading" class="loader ml-14 mt-14">
        <span class="loading loading-spinner loading-lg"></span>
      </div>
      <li *ngFor="let menuItem of mappedMenu">
        <a routerLink="/admin/dashboard">
          <button
            (click)="toggleDropdown(menuItem)"
            routerLinkActive="bg-gradient-to-tr from-[#86469C] to-[#86469C] shadow-md shadow-blue-500/20 hover:shadow-lg hover:shadow-blue-500/40 active:opacity-[0.85]"
            class="middle none font-sans font-bold center transition-all text-xs py-2 rounded-lg text-[#3C0753] hover:[#3C0753] flex w-full items-center gap-4 px-4 capitalize"
            type="button"
          >
            <ng-icon
              name="heroUsers"
              style="width: 20px; height: 20px; color: #3c0753"
            ></ng-icon>
            <p
              class="block antialiased font-sans text-base leading-relaxed text-inherit font-medium text-[#3C0753] capitalize"
            >
              {{ menuItem.title }}
            </p>
            <ng-icon
              [ngClass]="{
                'rotate-180': menuItem.isDropdownOpen
              }"
              name="heroChevronDown"
              style="width: 20px; height: 20px; color: #3c0753"
            ></ng-icon>
          </button>
        </a>

        <!-- Child Menu -->
        <div
          *ngIf="menuItem.isDropdownOpen"
          class="overflow-hidden transition-all duration-1000 ease-in-out bg-[#F1F5F9] shadow-lg rounded-md"
        >
          <div
            *ngFor="let child of menuItem.childMenu"
            class="flex flex-col px-4 py-2"
          >
            <button
              (click)="toggleChildDropdown(child)"
              class="flex justify-between items-center text-[12px] font-medium text-[#3C0753] hover:bg-[#86469C] hover:text-white"
            >
              {{ child.title }}
              <ng-icon
                [ngClass]="{
                  'rotate-180': child.isDropdownOpen
                }"
                name="heroChevronDown"
                style="width: 20px; height: 20px; color: #3c0753"
              ></ng-icon>
            </button>

            <!-- Grandchild Menu -->
            <div
              *ngIf="child.isDropdownOpen"
              class="ml-6 mt-2 bg-[#E7E9EB] rounded-md"
            >
              <a
                *ngFor="let grandChild of child.grandChildMenu"
                [routerLink]="grandChild.baseURL"
                class="flex justify-between items-center px-4 py-2 text-[12px] font-medium text-[#3C0753] hover:bg-[#86469C] hover:text-white"
              >
                {{ grandChild.title }}
              </a>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</aside>
